## Visual Studio files
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache
*.pdb
*.exe
*.dll
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet Packages
packages/
*.nupkg
**/packages/*
!**/packages/build/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*